{% extends "store/base.html" %}
{% block content %}
<section class="product-detail py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="product1.jpg" class="img-fluid" alt="Product 1">
            </div>
            <div class="col-md-6">
                <h2>Product 1</h2>
                <p class="price">$19.99</p>
                <p class="description">This is a detailed description of Product 1.</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}